p{
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

form{
  padding-bottom: 3rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

img {
  width: 90%;
  max-width: 300px;
  margin: 0.5rem auto;

}

input{
 font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 5px;
  font-size: 18px;
  padding: 0.5rem;
}

button {
 border-radius: 8px;
 border: 1px solid transparent;
 padding: 0.6em 1.2em;
 font-size: 1em;
 font-weight: 500;
 font-family: inherit;
 background-color: #ffffff;
 color: #213547;
 cursor: pointer;
 transition: border-color 0.25s;
}
button:hover {
 border-color: #646cff;
}
button:focus,
button:focus-visible {
 outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
 :root {
   color: #213547;
   background-color: #ffffff;
 }
 a:hover {
   color: #747bff;
 }
}
