
.drawing{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    text-align: center;
    margin-bottom: 0.5rem;
}

p{
    margin-bottom: 0.5rem;
}

.entry-list{
    margin: 1rem 0;
    border-radius: 5px;
    padding: 1rem 0.5rem 0.5rem;
    background-color: #e6e6e6;
}

.entry-list p{
    color: #000000;
}